.tabs{
  color: white;
  background-color: blue;
}

.tab{
  float: left;
  width: 33.33%;
  text-align: 'center';
  align-content: 'center';
  cursor: grab;
}

.tab-content{
    text-decoration: none;
}




